streamlit
azure-common
azure-storage-blob
requests
azure-ai-formrecognizer==3.3.3
azure-core
python-dotenv
pandas
pyarrow
numpy
protobuf
click
watchdog
pydeck
typing-extensions
gitpython
altair
cachetools
tenacity
tornado
toml
packaging
pillow
six
cryptography
isodate
msrest
idna
charset-normalizer
urllib3
certifi
tzdata
python-dateutil
pytz
jinja2
jsonschema
narwhals
cffi
gitdb
requests-oauthlib
pycparser
smmap
MarkupSafe
referencing
jsonschema-specifications
rpds-py
attrs
oauthlib